<section fxLayout="row" fxLayoutAlign="flex-end center" class="cym-login">
    <div fxLayout="column" fxLayoutAlign="center center" class="cym-login-form-container font">
        <h2 class="text-2xl text-white font-medium">Welcome</h2>
        <div class="w-full p-1 flex justify-center items-center my-3">
            <img src="assets/images/logo-section.png" alt="Logo" />
        </div>
        <p class="text-base text-white">Please enter your account details here</p>
        <form autocomplete="off" class="cym-login-form" (keydown.enter)="submit()">
            <div class="cym-lf-fields">
                <div fxLayout="row" fxLayoutAlign="start center" class="cym-lf-username">
                    <input matInput type="text" placeholder="Enter Username" [formControl]="userNameFormControl"
                        style="text-transform:lowercase" />
                    <div matSuffix class="cym-lf-icon">
                        <mat-icon class="pointer" matSuffix>
                            person_filled
                        </mat-icon>
                    </div>
                </div>

                <div fxLayout="row" fxLayoutAlign="start center" class="cym-lf-password">
                    <input matInput [type]="hidePassword1 ? 'password' : 'text'" placeholder="enter old password"
                        [formControl]="oldPasswordFormControl" />
                    <div matSuffix (click)="hidePassword1 = !hidePassword1" class="cym-lf-icon">
                        <mat-icon class="pointer" matSuffix>
                            {{ hidePassword1 ? 'visibility_off' : 'visibility' }}
                        </mat-icon>
                    </div>
                </div>
                <div fxLayout="row" fxLayoutAlign="start center" class="cym-lf-password">
                    <input matInput [type]="hidePassword2 ? 'password' : 'text'" placeholder="enter new password"
                        [formControl]="newPasswordFormControl" />
                    <div matSuffix (click)="hidePassword2 = !hidePassword2" class="cym-lf-icon">
                        <mat-icon class="pointer" matSuffix>
                            {{ hidePassword2 ? 'visibility_off' : 'visibility' }}
                        </mat-icon>
                    </div>
                </div>
                <div fxLayout="row" fxLayoutAlign="start center" class="cym-lf-password">
                    <input matInput [type]="hidePassword3 ? 'password' : 'text'" placeholder="confirm password"
                        [formControl]="confirmPasswordFormControl" />
                    <div matSuffix (click)="hidePassword3 = !hidePassword3" class="cym-lf-icon">
                        <mat-icon class="pointer" matSuffix>
                            {{ hidePassword3 ? 'visibility_off' : 'visibility' }}
                        </mat-icon>
                    </div>
                </div>
                <button type="button" (click)="submit()" class="cym-login-btn">
                    Change Password
                </button>
            </div>
        </form>
    </div>
</section>

<div class="cym-logo-c">
    <img class="cym-logo" src="assets/images/login-logo.png">
</div>