<div class="heading"><h1>Franchise Business Proposal</h1></div>
<p class="text-red-600 font-bold text-xl">Initial Checklist</p>
  
<p class="mb-4">Franchise would be required to provide at
  least. 150 sq. ft. carpet area in strong retail area on ground floor with
  frontage of at least 5 ft. Warehouse required more than 300 sq. ft. carpet area.
</p>
<p class="mb-4">
  Storage space for stock would be the onus of the franchise and additional
  expense, if any, for the same would be borne by the franchise.
</p>
<!--<p>Ownership status for the showroom would have to be declared beforehand by the Franchise (whether it is rented or owned). The Showroom will be owned/leased by the Franchise for a minimum period of 5 years. If Shop is rented, Orient will reimburseupto 50% of rent for 3 years or company budgeted rental, whichever is lower.</p>-->
<p class="mb-4">
  Orient Electric Smart Shop will be personally managed by the Franchise. In
  absence of his personal presence, Franchise will hire a store manager for the
  managing the store. Franchise would also provide one dedicated resource in
  form of helper for upkeep and maintain hygiene factor of the store.
</p>
<p class="text-red-600 font-bold text-xl">Investment Estimate</p>
  
  <p class="mb-4">The initial set-up investment stands at an
  estimate of Rs. 20 Lakhs. The breakup is as follows:
</p>
<table width="100%" hspace="0" vspace="0" cellpadding="0" cellspacing="0">
  <tbody>
    <tr>
      <th>Particulars</th>
      <th>Approx. Cost (in Indian Rupees)</th>
    </tr>
    <tr>
      <td>
        Civil Work (False Ceiling, Floor Work, Glass Facade, Electric Fittings,
        Air Conditioner etc.)
      </td>
      <td>
        Rs. 5.5 Lakh <br />(varies with the store size, layout and variance in
        standardized rates)
      </td>
    </tr>
    <tr>
      <td>
        Stationery and Office Equipment (Personal Computer, Licensed Tally
        Software, Television, CCTV, Printer, etc.)
      </td>
      <td>Rs. 2 Lakh</td>
    </tr>
    <tr>
      <td>Display Stock</td>
      <td>
        Rs. 1.5 Lakh <br />(additional One Time Support of 50% off on MRP per SKU)
      </td>
    </tr>
    <tr>
      <td>On Hand Saleable Stock</td>
      <td>Rs. 1.5 Lakh</td>
    </tr>
    <tr>
      <td>Security Deposit (Refundable, with 7% Rate of Interest p.a.)</td>
      <td>Rs. 5 Lakh</td>
    </tr>
    <tr>
      <td>Total Initial Investment (One-Time)</td>
      <td>Rs. 16-20 Lakh</td>
    </tr>
  </tbody>
</table>
<p class="mb-4">
  Store interiors, layout and branding is done as per the guidelines laid down
  by Orient Electric through its appointed designing agency. The cost of
  interior fixtures and branding will be borne solely by Orient Electric, and
  therefore will be Orient Electric’s property. The Franchise is expected to
  maintain the high quality of the interior throughout the operation of the
  Smart Shop. Any subsequent maintenance cost, handling damages and
  wear-and-tear, will be borne by Franchise to conform to the quality standard
  as defined by Orient Electric.
</p>
