.heading h1 {
    color: var(--primary-bg-color);
    font-size: 38px;
    margin-bottom: 18px;
    line-height: 40px;
    font-weight: 500;
}


@media (max-width: 979px){
    .heading h1 {
        text-align: center;
        font-size: 30px;
        margin-bottom: 0;
    }
}

table tr{
    @apply border border-b border-black;
}

table td , table th{
    @apply p-2
}

.rgt-prag p, .rgt-prag  li{
    font-size: 18px;
    font-weight: 400;
    color: #000;
    line-height: 32px;
}

.custom-list {
    list-style: none;
    padding: 0;
  }
  .custom-list li {
    margin-bottom: 10px;
    padding-left: 20px;
    position: relative;
  }
  .custom-list li::before {
    content: "✔"; /* Custom marker symbol */
    color: green;  /* Marker color */
    font-weight: bold;
    position: absolute;
    left: 0;
  }