<!-- <div class="heading"><h1>Franchise Business Proposal</h1></div> -->
<p class="text-red-600 font-bold text-xl">Initial Checklist</p>
  
<p class="mb-4">Franchise would be required to provide 150 - 200 sq. ft. 
  carpet area in strong retail area on ground floor with
  frontage of 5 - 8 ft. 
</p>
<p class="mb-4">
  Warehouse required more than 300 sq. ft. carpet area.
</p>
<p class="mb-4">
  Storage space for stock would be the onus of the franchise and additional
  expense, if any, for the same would be borne by the franchise.
</p>
<!--<p>Ownership status for the showroom would have to be declared beforehand by the Franchise (whether it is rented or owned). The Showroom will be owned/leased by the Franchise for a minimum period of 5 years. If Shop is rented, Orient will reimburseupto 50% of rent for 3 years or company budgeted rental, whichever is lower.</p>-->
<p class="mb-4">
  Smart Retail Shop will be personally managed by the Franchise. In
  absence of his personal presence, Franchise will hire a store manager for the
  managing the store. Franchise would also provide one dedicated resource in
  form of helper for upkeep and maintain hygiene factor of the store.
</p>
<p class="text-red-600 font-bold text-xl">Investment Estimate</p>
  
  <p class="mb-4">The initial set-up investment stands at an
  estimate of Rs. 5.50 Lakhs. The breakup is as follows:
</p>
<table width="100%" hspace="0" vspace="0" cellpadding="0" cellspacing="0" >
  <tbody>
    <tr>
      <th>Particulars</th>
      <th>Approx. Cost (INR)</th>
    </tr>
    <tr>
      <td>
        Civil Work (False Ceiling, Floor Work, Glass Facade, Electric Fittings,
        Air Conditioner, Computer, Printer etc.)
      </td>
      <td>
        Rs. 2 Lakh <br />(varies with the store size, layout and variance in
        standardized rates)
      </td>
    </tr>
    <tr>
      <td>Display Stock</td>
      <td>
        Rs. 1.5 Lakh <br />(additional One Time Support of 15% off on MRP per SKU)
      </td>
    </tr>
    <tr>
      <td>On Hand Saleable Stock</td>
      <td>Rs. 1.5 Lakh</td>
    </tr>
    <tr>
      <td>Security Deposit</td>
      <td>Rs. 50 Thousand <br>(Refundable, with 6% Rate of Interest p.a.)</td>
    </tr>
  </tbody>
</table>

<p class="mt-4 mb-4">
  Store interiors, layout and branding is done as per the guidelines laid down
  by Fonttech through its appointed designing agency. The cost of
  interior fixtures and branding will be borne solely by Fonttech, and
  therefore will be Fonttech’s property. The Franchise is expected to
  maintain the high quality of the interior throughout the operation of the
  Smart Shop. Any subsequent maintenance cost, handling damages and
  wear-and-tear, will be borne by Franchise to conform to the quality standard
  as defined by Fonttech.
</p>
