<section fxLayout="row" fxLayoutAlign="flex-end center" class="cym-login">
	<div fxLayout="column" fxLayoutAlign="center center" class="cym-login-form-container font">
		<h2 class="text-2xl text-white font-medium">Welcome</h2>
		<div class="w-full p-1 flex justify-center items-center my-3">
			<img src="assets/images/logo-section.png" alt="Logo" />
		</div>
		<p class="text-base text-white">Please enter your account details here</p>
		<app-login-form></app-login-form>
		<div fxLayout="row" fxLayoutAlign="center flex-end" class="cym-login-link">
			<a (click)="forgetPwd()">Reset Password?</a>
		</div>
	</div>
</section>

<div class="cym-logo-c">
	<img class="cym-logo" src="assets/images/login-logo.png">
</div>