/* You can add global styles to this file, and also import other style files */
/* @tailwind base;
@tailwind components;
@tailwind utilities; */

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

@import 'assets/css/animation.css';

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --primary-bg-color: #e70415;
    --secondary-bg-color:  #f5f5f5;  /* #cecece #c3c2c2; */
    
    --awa-primary-color : #211e3b;
    --awa-primary-font-style : "Poppins", sans-serif;
    --awa-white-color: #ffffff;
    --awa-text-color : #086ad7;
    --awa-padding-1 : 1rem;
    --awa-padding-2 : 2rem;
    --awa-padding-3 : 3rem;
    --awa-padding-4 : 4rem;
    --awa-padding-5 : 5rem;
}
html{
    font-size: 62.5%;
}
* {
    padding: 0;
    margin: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    scroll-behavior: smooth;
    font-family: var(--awa-primary-font-style);
    overflow-x: hidden;
}

img,
picture,
svg,
video {
    display: block;
    max-width: 100%;
}

input,
textarea,
button,
select {
    font: inherit;
}

app-root {
    height: 100%;
    width: 100%;
}
.pr{
    position: relative;
}
.pr-z2{
    position: relative;
    z-index: 2;
}
.text-white{
    color: var(--awa-white-color) !important;
}
.text-black{
    color: #000 !important;
}
.white-bg{
    background-color: var(--awa-white-color);
}
.pt-8{
    padding-top: 8rem;
} 
.pb-8{
    padding-bottom: 8rem;
}
.pt-15{
    padding-top: 15rem;
} 
.pb-15{
    padding-bottom: 15rem;
}
.topbar-bg{
    background-color: var(--primary-bg-color);
    z-index: 1000;
    /* background-image: linear-gradient(130deg, #e70415 0%, #49477f 74%); */
    /* background-color: #211e3b; */
    
    top: 0;
    
}
.content-bg{
    background-color: var(--secondary-bg-color);
}

.h70{
    height: 70vh !important;
}

/* .header_gradient{
    background-color: var(--primary-bg-color);
    background-image: linear-gradient(115deg, var(--primary-bg-color) 0%,#f37c93 74%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
} */
.text_gradient{
	background-color: #42378f;
    background-image: linear-gradient(315deg,#42378f 0%,#f53844 74%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}

.newsletter-popup {
    position: relative;
    width: 740px;
    margin-right: auto;
    margin-left: auto;
    padding: 40px 40px;
    border-radius: 0;
    box-shadow: 0 0 50px rgba(0,0,0,0.12);
    background-position: right !important;
}

.bg-img {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/* .newsletter-popup-content {
    max-width: 357px;
} */
.newsletter-popup-content {
    max-width: 100%;
}
.logo-newsletter {
    display: inline-block;
    max-width: 160px;
    height: auto;
}
.newsletter-popup h2 {
    margin: 24px 0 5px;
    color: #313131;
    font-size: 1.8rem;
    font-weight: 700;
    text-transform: uppercase;
}
.newsletter-popup p {
    font-size: 1.4rem;
    line-height: 1.85;
    letter-spacing: -0.02em;
    margin-bottom: 2.4rem;
}
.mfp-close-btn-in .mfp-close {
    color: #333;
}

button.mfp-close {
    position: absolute;
    top: 0;
    right: 0;
    overflow: visible;
    cursor: pointer;
    background: transparent;
    border: 0;
    z-index: 999;
    color: #f30101;
    padding: 0.5rem 1rem;
}
button.mfp-close i{
    font-size: 30px;
}
.mfp-content {
    position: relative;
    z-index: 9;
    display: inline-block;
    vertical-align: middle;
    margin: 0 auto;
    text-align: left;
}
.mfp-ajax-holder .mfp-content, .mfp-inline-holder .mfp-content {
    width: 100%;
    cursor: auto;
}
.modal-overlay{
    z-index: 1 !important;
}
.custom-control .btn i{
    font-size: 20px;
}

.mt-20{
    margin-top: 20rem;
}

/*Nav Bar */

.nav-item .nav-link{
    padding-top: var(--awa-padding-2);
    padding-bottom: var(--awa-padding-2);
    padding-left: var(--awa-padding-2);
    padding-right: var(--awa-padding-2);
    font-size: 1.6rem;
    color: var(--awa-white-color);
    transition: all 0.4s ease-in-out;
    text-decoration: none;
}
.nav-item .nav-link:hover{
    background-color: var(--awa-white-color);
    color: var(--awa-primary-color);
    transition: all 0.4s ease-in-out;
}
.brand{
    width: 16rem;
} 
.togal-menu{
    padding: 1rem 1.5rem 1rem 0;
}
.togal-menu svg{
    width: 3rem;
}
.heading-02{
    font-size: 5rem;
    font-weight: 500;
    color: var(--awa-text-color);
}
.about-company p{
    font-size: 1.8rem;
    line-height: 4rem;    
    font-weight: 400;
}
.about-company p span{
    font-weight: 600;
}
.text-blue{
    color: var(--awa-text-color);
}
.heroAnimation {
    position: relative;
    overflow: hidden;
}
.inner-gradin {
    background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
}

.expertise {
    position: relative;
    padding-top: 170px;
    padding-bottom: 170px;
    /* background: linear-gradient(180deg, #ffe280 0, rgba(0, 176, 218, .53) 100%); */
    background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
}
.expertise-btn, .expertise-top, .text-pattern {
    position: absolute;
    right: 0;
    left: 0;
}
.expertise-top {
    top: 0;
    width: 100%;
}
#footer {
    position: relative;
    background-color: #121213;
    padding: 0;
    color: #fff;
    overflow: hidden;
    padding-top: 8rem;
    padding-bottom: 8rem;
}
#footer::before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.8);
}
.footbg{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
}
.z-index-10{
    z-index: 10;
}
.ds-app-icon img, .ds-img, .ds-img img, .expertise-btn img, .expertise-top img, .footer-logo img, .foottop-bg, .foottop-bg img, .partnership-logo img, .slider, .thumbs2>a img, .thumbs>a img, .top-slider, .top-slider img {
    width: 100%;
}
.product-sec{
    /* display: grid;
    grid-template-columns: repeat(auto-fill, 30%);
    gap: 30px; */
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.product{   
    text-align: center;
    padding: 4rem 2rem ;
    display: grid;
    place-items: center;
    background-color: var(--awa-white-color);
    border-radius: 0.8rem;
    border: 1px solid #ccc;
    width: 32%;
}
.product-name{
    font-size: 3.5rem;
    font-weight:500;
    margin-top: 2.5rem;
}
.hero{
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.main-wrapper{
    position: absolute;
    bottom: -10%;
    right: 0;
    z-index: 1;
    opacity: 0.5;
}
.lft-circle{
    left: -10%;
    opacity: 1;
    z-index: -1;
    top: 60%;
}
.footBrand{
    width: 24rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 7rem;
}
.footMenu{
    display: grid;
    place-items: center;
}
.footMenu ul{
    list-style: none;
    display: flex;
    margin-bottom: 5rem;
    padding: 0;
}
.footMenu ul li a{
    padding: 1rem 2.5rem;
    font-size: 1.6rem;
    color: var(--awa-white-color);
    text-decoration: none;
}
.footMenu ul li a:hover{
    text-decoration: underline;
    transition: all 0.4s ease-in-out;
    color: #eee;
}
.social{
    display: grid;
    place-items: center;
    margin-bottom: 5rem;
    margin-top: 2rem;
}
.social ul{
    display: flex;
    padding: 0;
}
.social ul li a{
    width: 5.2rem;
    min-width: 5.2rem;
    height: 5.2rem;
    display: grid;
    place-items: center;
    color: var(--awa-text-color);
    background-color: var(--awa-white-color);
    border-radius: 50%;
    margin-left: 1rem;
    margin-right: 1rem;
}
.social ul li a:hover{
    background-color: var(--awa-text-color);
    color: var(--awa-white-color);
    transition: all 0.4s ease-in-out;
}
.social ul li a i{
    font-size: 2rem;
}
.foot-top-border{
    border-top: 1px solid #302f2f;
    padding-top: 4rem;
}
.copy-term{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.copy span{
    font-size: 1.6rem;
    color: var(--awa-white-color);
}
.copy span a{
    color: var(--awa-white-color);
    text-decoration: underline;
    padding-left: 0.4rem;
    padding-right: 0.4rem;
}
.term ul{
    list-style: none;
    display: flex;
}
.term ul li a{
    font-size: 1.6rem;
    color: #fff;
    text-decoration: none;
    padding-left: 1rem;
    padding-right: 1rem;
}
.term ul li a:hover{
    text-decoration: underline;
}

.lftTab{
    position: relative;    
    border-radius: 14px;    
    box-shadow: 0px 0px 60px 0px rgba(2, 2, 2, 0.07);
    width: 100%;
    padding: 0;
    overflow: hidden;
    background-color:#bbf5ea;
}
.bgImg{
    position: absolute;
    left:0;
    bottom: 0;
    right: 0;
    z-index: 1;
    width: 100%;
    opacity: 0.6;
}
.lftTab li{
    position: relative;
    z-index: 99;
}
.lftTab li a{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
    font-size: 18px;
    font-weight: 500;
    color: #2a254d;
    text-decoration: none;
    padding:20px;    
    border-bottom: 1px dashed #2a254d;
    text-transform: uppercase;
}
.lftTab li a:hover{
    background-color:#6baaf1;
    color: #000;
}
.lftTab li.active a{
    background-color:#6baaf1;
    color: #000;
}
.lftTab li:last-child a{
    border-bottom: 0;
}
.rgtContent{
    padding-left: 2rem;
}
.rgtContent .heading-02{
    position: relative;
    margin-bottom: 25px;
}
.rgt-prag p{
    font-size: 18px;
    font-weight: 400;
    color: #000;
    line-height: 32px;
}
.franchiseList{
    list-style: circle;
    padding: 0 0 0 30px;
}
.franchiseList li{
    font-size: 18px;
    font-weight: 400;
    color: #000;
    line-height: 32px;
}

.page-header {
    background-color:#2a254d;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-image: url(assets/images/page-header-bg-1-1.jpg);
    object-fit: cover;
    object-position: 50% 50%;
    width: 100%;
    height: 100%;
}
.page-header__overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
}
.page-header .container {
    position: relative;
    z-index: 2;
    padding-top: 166px;
    padding-bottom: 151px;
}
.page-header__title {
    margin: 0;
    font-size: 50px;
    line-height: 1;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.rgt-prag .table-view{
    border: 1px solid #666 !important;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 25px;
}
.rgt-prag .table-view .table{
    width: 100%;
    border: 0 !important;
    padding: 0 !important;
    margin: 0 !important;
}
.rgt-prag .table-view .table tr{
    border: 0 !important;
}
.rgt-prag .table-view .table tr th{
    font-size: 18px;
    padding: 5px 10px !important;
    font-weight: 500;
    border-bottom: 1px solid #666 !important;
    border-right: 1px solid #666 !important;
    background-color:#bbf5ea;
}
.rgt-prag .table-view .table tr td{
    font-size: 14px;
    line-height: 20px;
    padding: 5px 10px !important;
    font-weight: 300;
    border-bottom: 1px solid #666 !important;
    border-right: 1px solid #666 !important;
    background-color:#bbf5ea;
}
.rgt-prag .table-view .table tr:nth-child(odd) td{
    background-color:#ffffff;
  }
  
  .rgt-prag .table-view .table tr:nth-child(even) td{
    background-color:#f5f2f2;
  }
.rgt-prag .table-view .table tr:hover td{
    background-color: #cbc8fd !important;
}
.rgt-prag .table-view .table tr:last-child td{
    border-bottom: 0 !important;
}
.form-group{
    margin-bottom: 2rem;
}
.form-group label{
    font-weight: 500;
    font-size: 1.6rem;
    margin-bottom: 0.5rem;
}
.form-group .form-control{
    height: 40px;
    font-size: 1.4rem;
    padding: 0.5rem 1.5rem;
    border-radius: 0.5rem;
}
.form-group textarea.form-control{
    height: 140px;
    font-size: 1.4rem;
    padding: 0.5rem 1.5rem;
    border-radius: 0.5rem;
}
.btn{
    font-size: 1.6rem;
    padding: 1.2rem 2.5rem;
    border-radius: 0.5rem;
}
a, p{
    font-size: 1.6rem;
}
a:hover{
    text-decoration: none;
}
.get-inTouch{
    position: fixed;
    right: 50px;
    bottom: 0;
    z-index: 9;
}
.get-inTouch button{
    font-size: 1.6rem;
    font-weight: 500;
    color: #fff;
    background-color: var(--primary-bg-color);
    border-radius: 0.8rem 0.8rem 0 0;
    padding: 1.5rem 2rem 1rem;
    text-transform: uppercase;
}
.get-inTouch button:hover{
    background-color: var(--awa-text-color);
}
.MainOpen-popup{
    width: 100%;
}
.newsletter-popup{
    background-color: #fff;
}
@media only screen and (max-width: 1100px) and (min-width: 768px)  {
    .nav-item .nav-link{
        padding: 1rem;
        font-size: 1.4rem;
    }
    .brand{
        padding-top: 1rem;
        padding-bottom: 1rem;
        width: 12rem;
    }

}


@media only screen and (max-width: 767px) {
    .newsletter-popup {
        width: 350px;
        padding: 20px;
    }
    .product-sec{
        flex-direction: column;
    }
    .product{
        width: 100%;
        margin-bottom: 2rem;
    }
    .lft-circle {
        left: -10%;
        top: inherit;
        bottom: -10%;
    }
}

@media only screen and (max-width: 600px) {
    .nav-item .nav-link{
        padding-left: 0;
        padding-right: 0;
    }
    .brand{
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
    .pb-15 {
        padding-bottom: 10rem;
    }
    .pt-15 {
        padding-top: 10rem;
    }
    .heading-02{
        font-size: 3rem;
    }
}
@media only screen and (max-width: 500px) {
    .footMenu ul{
        flex-direction: column;
    }
    .footMenu ul li a{
        display: block;
        clear: both;
        width: 100%;
        text-align: center;
    }
    .footBrand{
        margin-bottom: 3rem;
    }
    .copy-term{
        flex-direction: column;

    }
    .term{
        margin-top: 4rem;

    }
}